body{

    font-family: "Roboto",Arial,sans-serif;
}
.profile{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 50%;
    background-image: url("img/me.png");
    width: 200px;
    height: 200px;
    background-size: 100% 100%;
    border: 1px solid black;
}
.bold{
    font-weight: 600;
    color: black;
    font-size: 25px;
}
.name{
    color:black;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 10px;

}
.details{

color:black;
    text-align: center;
    padding: 5px;
    margin: auto;
 
}

.center{
    
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;

}
.btn{
display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 12px;
    border: none;
   margin-top: 15px;;
    width: 200px;
    background-color: black;
    color: white;
}
.links{
    margin-top: 10px;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-bottom: 30px;
    color: black;
}
.links a{
    color:black;
}

.dark{
    color: white;
}
.dark a{
color: white;
}
/*..........................................TOGGLE.....................................*/
.switch {
   
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  }
  
  .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  }
  
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  }
  
  .slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  }
  
  input:checked + .slider {
  background-color: #2196F3;
  }
  
  input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
  border-radius: 34px;
  }
  
  .slider.round:before {
  border-radius: 50%;
  }
  